*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}


body,html{
    width: 100%;
    height:100%;
}

#main{
    height:100%;
    width:100%;
    background-color: rgb(199, 97, 114);
    position:relative;

}
#nav{
    height:100px;
    width:100%;
    
    display:flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid #000;

}
#nav h5{
    font-size:15px;
    font-family:aeonik;
    border:1.5px solid #000;
    padding:4px 9px;
    border-radius:50px;
    margin:0 7px;
    font-weight: 600;
}

#center{
    height:500px;
    width: 100%;
    position:relative;
    padding:10px 20px;
}
#center h1{
    font-size:80px;
    font-family:monument;
    text-transform: uppercase;
    position:absolute;
    white-space: nowrap;
    left:50%;
    z-index: 999;
    transform: translate(-50%,0);
    font-style: italic;
}


#center h2{
    font-size:80px;
    font-family: monument;
    text-transform: uppercase;
    position:absolute;
    white-space: nowrap;
    left:49.4%;
    top:4px;
    -webkit-text-stroke-color: #000;
    -webkit-text-stroke-width:2px;
    color:transparent;
    transform: translate(-50%,0);
    font-style: italic;
}
#image{
    position:absolute;
    top:60%;
    height:50%;
    width:60%;

    left:50%;
    transform: translate(-50%,-50%);
    /* background-color: red; */
    border-radius: 50%;
    border:1px solid #000;
}

#image img{
    height:100%;
    width:100%;
    object-fit:cover;
    object-position: 100% 70%;
    border-radius: 50%;
    padding:12px;
}

button{
    padding:17px 36px;
    font-size:15px;
    text-transform: uppercase;
    border-radius: 50%;
    text-transform: capitalize;
    background-color: green;
    font-weight: 600;
    font-size: 16px;
    position: absolute;
    right:10%;
    top:25%;
    transform: rotate(-5deg);
}

#socks{
    height:190px;
    width:210px;
    transform: rotate(-5deg);
    background-size: cover;
    background-position: bottom;
    position:absolute;
    top:22%;
    left:8%;

    border:2px solid #000;
    background-image: url(https://media.happysocks.com/images/BLI114-9000_new.png?width=360&format=pjpg&quality=60&auto=webp&bg-color=fafafa);

}

#socks::after{
    content:"";
    height:190px;
    width:210px;
    position:absolute;
    
    top:-15px;
    right: -10px;
    z-index:-1 !important;
    bottom:-10px;
    right:15px;
    
    border:2px solid black;
    background-image: url(https://media.happysocks.com/images/BLI114-9000_new.png?width=360&format=pjpg&quality=60&auto=webp&bg-color=fafafa);
    background-size: cover;
    background-position: center;

}


#footer{
    height:50px;
    width: 50%;
   
    color:pink;
    position:absolute;
    top:90%;
    left:25%;
    border-radius:50px;
    border:1px solid black;
    text-align: center;
    padding:12px;
    letter-spacing: 2px;
    
}

